* {
    margin: 0;
    padding: 0;
   /* box-sizing: border-box; */
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: white;
    font-family: 'Sen', sans-serif;
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0 50px;
    height: 100%;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 30px;
    color: rgb(206, 28, 33);
}

.menu-container {
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 40px;
    height: 100%;
}

.menu-list-item {
    /* margin-right: 40px; */
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.menu-list-item:hover {
    color: rgb(206, 28, 33);
    border-bottom: 3px solid #fff ;
    margin-bottom: 3px;
    transition: .2s;
}

.menu-list-item.active {
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    position: relative;
    width: 41px;
    height: 21px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.toggle-icons {
    color: goldenrod;
}

.toggle-ball {
    width: 21px;
    height: 21px;
    background-color: black;
    position: absolute;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.sidebar-icons {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    min-height: calc(100vh - 50px);
    background-color: #151515;
    color: white;
}

.content-container {
    margin-left: 50px;

}

.featured-content {
    height: 50vh;
    padding: 100px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: rgb(206, 28, 33);
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 20px 0px;
    height: 300px;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

.movie-list-title {
    margin-top: 10px;
}

.movie-list-item {
    position: relative;
    margin-right: 30px;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.7;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    width: 333px;
    height: 222px;
    object-fit: cover;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
}

.movie-list-item-title {
    position: absolute;
    top: 10%;
    left: 50px;
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.movie-list-item-desc {
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 120px;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.8;
}

.container.active {
    background-color: white;
    color: #000;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: #000;
}

.sidebar.active {
    background-color: white;
    color: #000;
}

.sidebar-icons.active {
    color: black;
}

.toggle.active {
    background-color: black;

}

.toggle-ball.active {
    background-color: lightgrey;
    transform: translateX(-21px);
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}